# MiniDevAgent environment variables
OPENAI_API_KEY=
OPENAI_BASE_URL=https://api.siliconflow.cn/v1
MODEL_NAME=Qwen/Qwen2.5-32B-Instruct
TOOL_ONLY=false
APP_PORT=8000
ENABLE_GRAPH=true
ENABLE_LLM_ANSWER=false
